<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Mars Data</title>
</head>
<body>
    <!-- Nav Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Mars Data</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse " id="navbarNavDropdown">
                <ul class='navbar-nav'>
                    <li class="nav-item">
                        <a class="nav-link" href="/scrape">Refresh Data</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    
    <!-- Header -->
    <div class='container'>
        <div class='row'>
            <div class='col-md-12'>
                <br><br>
                <h1>Mission to Mars</h1>
                <hr>
            </div>
        </div>

        <div class='row'>
            
            <!-- Featured Image -->
            <div class='col-md-7'>
                <br><br>
                <h2>Featured Image</h2>
                <hr>
                <img src='{{ mars.featured_image }}' class="img-fluid" alt="Featured Image">
            </div>
            
            <!-- Break -->
            <div class='col-md-1'></div>
            
            <!-- Mars News -->
            <div class='col-md-4'>
                <br><br>
                <h2>Latest Mars News</h2>
                <hr>
                <h3>{{ mars.news_title }}</h3>
                <p>{{ mars.news_paragraph }}</p>
            </div>
        </div>

        <div class='row'>

            <!-- Mars Hemispheres -->
            <div class='col-md-6'>
                <br><br>
                <h2>Mars's Hemispheres</h2>
                <hr>
            {% for dict in mars.hemispheres %}
                <div class="card" style="width: 18rem;">
                    <img src="{{ dict.img_url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="{{ dict.img_url}}" class="btn btn-dark">{{ dict.title }}</a>
                    </div>
                </div>
            {% endfor %}
            </div>            

            <!-- Break -->
            <div class='col-md-1'></div>

            <!-- Mars Facts -->
            <div class='col-md-5'>
                <br><br>
                <h2>Mars Facts</h2>
                <hr> 
                <table class='table' >
                    {{ mars.mars_facts }}
                </table>
            </div>
        </div>
    </div>
    
</body>
</html>